<!DOCTYPE html>
<html>
<head>
  <title>RolifyUi</title>
  <%= stylesheet_link_tag    "rolify_ui/application", media: "all" %>
  <%= javascript_include_tag "rolify_ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row large-12">
  <%= render 'layouts/rolify_ui/navbar' %>
</div>

<div class="row">
  <%= yield %>
</div>

</div>
</body>
</html>
